h1 {
  font-size: 20px;
  background-image: "https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/13/131/131149/vmqehwoshp6lnlitjpn6szerugzyrskyca4cqwgjussoijcputspyyzyqkiswgqe-o.jpg?1444221734";
  text-align: center;
}

hr {
  background-color: black;
  width: 250px;
}

img {
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 5px 5px 8px #888888;
}

/* Class selectors */
.input-area {
  padding-left: 30px;
}

.output-area {
  background-color: #a9a9a9;
}

/* Daytime and Nighttime themes */
.daytime-input {
  background-color: #e6c133;
}

.daytime-output {
  background-color: #ff9e2c;
}

.nighttime-input {
  background-color: #001a26;
  color: white;
}

.nighttime-output {
  background-color: #053752;
  color: white;
}

.sun {
  color: #ffc100;
}

.moon {
  color: #d0d5d2;
}

.has-bg-img {
  background: url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/13/131/131149/vmqehwoshp6lnlitjpn6szerugzyrskyca4cqwgjussoijcputspyyzyqkiswgqe-o.jpg?1444221734")
    center center;
  background-size: cover;
}
